# ========= IntelliJ =========
.idea/
*.iml
out/
production/

# ========= Java =========
*.class

# ========= Database / Secrets =========
db.properties

# ========= OS =========
.DS_Store

# ========= Logs =========
*.log

# ========= Local DB Tests =========
src/**/TestDB*.java
